In [14]:
import pandas as pd
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['one','two','three'],columns=['a','b','c'])
print(df)

       a  b  c
one    1  2  3
two    4  5  6
three  7  8  9

In [23]:

#taking the input from Dataframe and storing in the excel file
print("Taking the input from Dataframe and storing in the excel file")
df.to_excel('pandas_to_excel.xlsx',sheet_name='new_sheet_name')

Taking the input from Dataframe and storing in the excel file

In [24]:
#second dataframe input to another excel file
d=pd.DataFrame([[110,210,310],[12,220,320],[310,320,330]],index=['four','five','six'],columns=['a','b','c'])
d.to_excel('pandas_to_excel1.xlsx',sheet_name='new_sheet_name')

In [25]:
#merging two excel files input into third file
x=pd.read_excel('pandas_to_excel.xlsx')
y=pd.read_excel('pandas_to_excel1.xlsx')
z=pd.concat([x,y])
z.to_excel('pandas_to_excel3.xlsx')

In [26]:
#sorting the column values
df=z.sort_values(["a"])
print(df)
df.to_excel('d:\pandas_to_excel4.xlsx')

  Unnamed: 0    a    b    c
0        one    1    2    3
1        two    4    5    6
2      three    7    8    9
1       five   12  220  320
0       four  110  210  310
2        six  310  320  330

<>:4: SyntaxWarning: invalid escape sequence '\p'
<>:4: SyntaxWarning: invalid escape sequence '\p'
/tmp/ipython-input-663832531.py:4: SyntaxWarning: invalid escape sequence '\p'
  df.to_excel('d:\pandas_to_excel4.xlsx')

In [27]:
df=pd.read_excel('d:\pandas_to_excel4.xlsx')
print(df)
print(list(df))
print(format(len(df)))

   Unnamed: 0.1 Unnamed: 0    a    b    c
0             0        one    1    2    3
1             1        two    4    5    6
2             2      three    7    8    9
3             1       five   12  220  320
4             0       four  110  210  310
5             2        six  310  320  330
['Unnamed: 0.1', 'Unnamed: 0', 'a', 'b', 'c']
6

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
/tmp/ipython-input-512789069.py:1: SyntaxWarning: invalid escape sequence '\p'
  df=pd.read_excel('d:\pandas_to_excel4.xlsx')